<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>weather!</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="index.css">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-4" id="tlv-div">
            <div class="location-div">
                <h1 class="location" , id="tlv-loc">Loading...</h1>
            </div>
            <div class="icon-div">
                <img class="icon" , id="tlv-icon" src="https://ssl.gstatic.com/onebox/weather/64/rain_light.png">
            </div>
            <div class="weather-parameters">
                <div>Temperature:
                    <span id="tlv-temperature"></span>
                </div>
                <div>Humidity:
                    <span id="tlv-humidity"></span>
                </div>
                <div>Wind:
                    <span id="tlv-windspeed"></span>
                </div>
            </div>
        </div>

        <div class="col-sm-4" id="haifa-div">
            <div class="location-div">
                <h1 class="location" , id="haifa-loc">Loading...</h1>
            </div>
            <div class="icon-div">
                <img class="icon" , id="haifa-icon" src="https://ssl.gstatic.com/onebox/weather/64/rain_light.png">
            </div>
            <div class="weather-parameters">
                <div>Temperature:
                    <span id="haifa-temperature"></span>
                </div>
                <div>Humidity:
                    <span id="haifa-humidity"></span>
                </div>
                <div>Wind:
                    <span id="haifa-windspeed"></span>
                </div>
            </div>
        </div>

        <div class="col-sm-4">

            <div id="anywhere-div">
                <div class="location-div">
                    <h1 class="location" , id="anywhere-loc">Loading...</h1>
                </div>
                <div class="icon-div">
                    <img class="icon" , id="anywhere-icon"
                         src="https://ssl.gstatic.com/onebox/weather/64/rain_light.png">
                </div>
                <div class="weather-parameters">
                    <div>Temperature:
                        <span id="anywhere-temperature"></span>
                    </div>
                    <div>Humidity:
                        <span id="anywhere-humidity"></span>
                    </div>
                    <div>Wind:
                        <span id="anywhere-windspeed"></span>
                    </div>
                </div>
            </div>
            <div id="input-div">
                Enter location <br>
                <form action="/?:location" method="get">
                    <input id="input" type="text" name="search"><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/index.js"></script>

</body>
</html>

